body {
    font-family: "open sans", sans-serif;
    background-color: #f9f9f9
}

nav {
    font-family: 'Manrope', sans-serif;
}

h2, p {
    font-family: 'Manrope', sans-serif;
}

footer {
    font-family: 'Manrope', sans-serif;
}

.footer-color {
    background-color: #4B515D;
}

.modal-special-text {
    font-family: 'Manrope', sans-serif;
}

.img-grid {
    width: auto;
    height: 550px;
    object-fit: cover;
}


html {
    scroll-behavior: smooth;
  }

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 50px;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
 .carousel-caption {
    position: absolute;
    top: 44%;
    bottom: auto;
    left: 0;
    right: 0;
    background: rgba(41, 43, 44, 0.7);
    }

#brandTitle{
    font-size: 5vmin;
}





/*@media(max-width: 580px) {
    .navbar-brand {
        font-size: 14px;
        position: relative;
        width: 30%;
        left: 0;
        top: 0;
        text-align: left;
        margin: 0;
    }
}